html {
    height: calc(100% - 20px);
    margin: 10px;
}

body {
    font-family: "Source Code Pro", Lucida Console, "Andale Mono", Courier, monospace;
    text-transform: uppercase;
    background: var(--bs-black);
    height: 100%;
    min-width: 280px;
}

#root {
    border: solid 3px rgb(124, 198, 118);
    height: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.active {
    background: rgb(41, 66, 39);
}

.modal-content {
    border: solid 3px rgb(124, 198, 118);
    background: black;
}

.modal {
    --bs-modal-border-radius: none;
    --bs-modal-inner-border-radius: none;
    --bs-modal-header-border-color: none;
    --bs-modal-footer-border-color: none;
}