html {
  height: calc(100% - 20px);
  margin: 10px;
}

body {
  font-family: 'Source Code Pro', Lucida Console, 'Andale Mono', Courier, monospace;
  text-transform: uppercase;
  background: var(--bs-black);
  height: 100%;
  min-width: 278px;
}

#root {
  border: solid 3px rgb(124, 198, 118);
  height: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.active {
  background: rgb(41, 66, 39);
}

.modal-content {
  border: solid 3px rgb(124, 198, 118);
  background: black;
}

.modal {
  --bs-modal-border-radius: none;
  --bs-modal-inner-border-radius: none;
  --bs-modal-header-border-color: none;
  --bs-modal-footer-border-color: none;
}

.btn-primary {
  --bs-btn-color: #000000;
  --bs-btn-bg: rgb(124, 198, 118);
  --bs-btn-border-color: rgb(124, 198, 118);
  --bs-btn-hover-bg: rgb(41, 66, 39);
  --bs-btn-hover-border-color: rgb(41, 66, 39);
  --bs-btn-active-bg: rgb(124, 198, 118);
  --bs-btn-active-border-color: rgb(124, 198, 118);
}

.offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl {
  --bs-offcanvas-color: rgb(124, 198, 118);
  --bs-offcanvas-bg: #000000;
}

.nav-link {
  --bs-nav-link-padding-x: 1rem;
  --bs-nav-link-padding-y: 0.5rem;
}

.offcanvas-header {
  background: var(--bs-offcanvas-color);
  color: var(--bs-offcanvas-bg);
}

.btn:hover .btnicono {
  fill: var(--bs-btn-hover-color);
}

.btn:active .btnicono {
  fill: var(--bs-btn-color);
}